
{% extends "base.html" %}
{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename = 'icons/logo.svg')}}">
    <!---->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/forgot.css')}}">
{% endblock %}
{% block title%}| Forgot password{% endblock %}

{% block navbar %}
{% endblock %}
{% block page_content %}

<div class="wrapper">
    <section class="main-image">
        <header>ME.MY</header>
        <img src="{{url_for('static', filename='icons/monitor.svg')}}" alt="monitor image">
    </section>
    <section class="forgot">
        <h1>FORGOT PASSWORD</h1>
        <form method="POST" action="{{ url_for('auth.forgot_password')}}">
        	{{ form.csrf_token }}
            <div class="input">
                <label for="email">Email</label>
                {{ form.email() }}
                <span class="error-msg"></span>
                <img src="{{url_for('static', filename = 'icons/icon-error.svg')}}" alt="" class="error-icon">
            </div>
            <button>SUBMIT</button>
            <a href="{{ url_for('auth.login')}}" class="back-login">Back to Login</a>
        </form>
    </section>
</div>
{% endblock %}