{% extends "base.html" %}
{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename = 'icons/logo.svg')}}">
    <!---->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/login.css')}}">
{% endblock %}
{% block title%}| Login{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
{% block page_content %}

<div class="wrapper">
    <section class="main-image">
        <header>ME.MY</header>
       <img src="{{ url_for('static', filename = 'icons/monitor.svg')}}" alt="monitor image">
    </section>
    <section class="login">
        <small>Don't have an account?<a href="{{ url_for('auth.register')}}" class="signup">Signup</a></small>
        <h1 class="create-account">LOGIN</h1>
        <form method="POST" action="{{ url_for('auth.login')}}">
            {{ form.csrf_token }}
            <div class="input">
                <label for="username">Username</label>
                {{ form.email( id = "username")}}
                <span class="error-msg"></span>
                <img src="{{ url_for('static', filename='icons/icon-error.svg')}}" alt="" class="error-icon">
            </div>
            <div class="input">
                <label for="password">Password</label>
                {{ form.password( id = "password")}}
                <span class="error-msg"></span>
                <img src="{{ url_for('static', filename='icons/icon-error.svg')}}" alt="" class="error-icon">
            </div>
            <aside>
                <div>
                    {{ form.remember_me( id = "checkbox")}}
                    <label for="checkbox">Remember me</label>
                </div>
                <a href="{{ url_for('auth.forgot_password')}}" class="forgot">Forgot Password?</a>
            </aside>
            
            <button>LOGIN</button>
        </form>
    </section>
</div>

{% endblock %}

{% block modals %}
{% endblock%}

{% endblock %}

