{% extends "base.html" %}
{% block head %}
{{ super() }}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename = 'icons/logo.svg')}}">
    <!---->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/signup.css')}}">
{% endblock %}
{% block title%}| Signup{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
{% block page_content %}

<div class="wrapper">
    <section class="main-image">
        <header>ME.ME</header>
        <img src="{{url_for('static', filename='icons/monitor.svg')}}" alt="monitor image" class="image">
    </section>
    <section class="signup">
        <small>Already Have An Account?<a href="{{url_for('auth.login')}}" class="login">Login</a></small>
        <h1 class="create-account">CREATE AN ACCOUNT</h1>
        <form method="POST" action="{{ url_for('auth.register')}}">
            {{ form.csrf_token }}

            <div class="input">
                <label for="username">Username</label>
                <img src="{{url_for('static', filename = 'icons/icon-error.svg')}}" alt="" class="error-icon">
                {{ form.username() }}
                <span class="error-msg"></span> 
            </div>
            <div class="input">
                <label for="email">Email</label>
                <img src="{{url_for('static', filename = 'icons/icon-error.svg')}}" alt="" class="error-icon">
                {{ form.email() }}
                <span class="error-msg"></span>   
            </div>
            <div class="input">
                <label for="password">Password</label>
                 <img src="{{url_for('static', filename = 'icons/icon-error.svg')}}" alt="" class="error-icon">
                {{ form.password( id="password") }}
                <span class="error-msg"></span>
            </div>
            <div class="input">
                <label for="confirm-password">Confirm Password</label>
                 <img src="{{url_for('static', filename = 'icons/icon-error.svg')}}" alt="" class="error-icon">
                {{ form.password2( id="confirm-password") }}
                <span class="error-msg"></span>
            </div>
            <div class="terms">
                <input type="checkbox" class="checkbox">
                <p>
                    By creating an account, you agree to the terms of service and conditions, and privacy policy.
                </p>
            </div>
            <button>CREATE ACCOUNT</button>
        </form>
    </section>
</div>

{% endblock %}

{% block modals %}
{% endblock%}

{% endblock %}