body{

	padding-top: 4em;
	background-color: #F5F8FA;
}

#main-row {

	height: 100vh;
}

@media(max-width: 34em){

	#main-row{

		width: 100vw;
	}
}

#main-column {
	height: 100%;
	overflow-y: scroll;
}

::-webkit-scrollbar {

	width: 0px;
	background: transparent;
}

.navbar-brand img{
	height: 100%;
}

nav form#search {

	float: right;
	padding: 0.5em;
}

nav form#search .glyphicon-search {

	z-index: 99;
	position: absolute;
	right: 0.7em;
	top: 50%;
	margin-top: -0.44em;
}

#user-btn{

	margin-top: 0.5em;
}

nav.navbar-default {

	background-color: #2F92CA;
}

nav.navbar-default .navbar-nav >li > a {

	color: #FFF;
}

nav.navbar-default .navbar-nav > li > a,
nav.navbar-default .navbar-nav >li > a:hover {

	color: #FFF;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
nav.navbar-default .navbar-nav > .active > a {

	background-color: transparent;
	color: #FFF;
	padding-bottom: 0.62em;
	border-bottom: 0.453em solid #FFF;
}
nav.navbar-default .navbar-nav > .active a:hover,
nav.navbar-default .navbar-nav > li > a:hover {

	background-color: transparent;
	color: #F3F3F3;
	padding-bottom: 0.62em;
	border-bottom: 0.45em solid #F3F3F3;
}

nav.navbar-header .navbar-toggle,
nav.navbar-default .navbar-toggle:focus {

	background-color: #57A5D2;
}
nav.navbar-header .navbar-toggle,
nav.navbar-default .navbar-toggle:hover {

	background-color: #3986B3;
}

nav.navbar-default .navbar-toggle .icon-bar {

	background-color: #FFF;
}




#nav-options {

	margin: 0.5em;
}

#nav-options button.thumbnail {

	margin:0;
	padding: 0;
}

#nav-options img {

	max-height: 2.3em;
	border-radius: 0.3em;
}

#posts {

	margin: 0.5em;
}

.navbar-brand img {

	height: 100%;
}


.hidden-element {

	display: none;	
}

#profile  br{

	width: 20%;

}

.card img.card-img {

	top: 50%;
	margin-top: -36px;
	width: 72px;
	border: 3px solid #FFF;
	border-radius: 0.4rem;
	float: left;
	position: relative;
	z-index: 99;
}

.card-block .card-title {

	float: left;
	margin: 0;
	margin-left: 0.5em;
}

.card-block .card-text {

	clear: both;
	padding-top: 0.25em;
	margin-bottom: 1.5em;
}

#app-info {
	margin-top: 2rem;
}

#app-info .card-block a{

	color: #e5e5e5;

}


#app-info .card-footer {
	border-radius: 0 0 0.4rem 0.4rem;
	padding: .75rem 1.25rem;
	background-color: #f5f5f5;
	border-top: 0.1em solid #e5e5e5;
	color: #4e5665;

}

.card-header h4 {

	font-size: 1.5em;
}

 .card-block ul {
 	 
 	 padding-left: 0.5em; 
 }

 .card-block li > a {
 	color: #FFF;
 	font-size: 1.2em;
 }

  .card-block li > a:hover {

  	text-decoration: none;
 	color: #FFF;
 }

 .card-block ul a:hover {

 	text-decoration: none;
 }

.card-block .card-title small {

	display: inline;
}

 .card-block ul .profile-stats {

 	color: #777;
 	display: block;
 	text-transform: uppercase;
 	font-size: 0.65em;

 }

  .card-block ul .profile-value {

 	color: #000;
 	font-size: 1.2em;
 	font-weight: bold;
 	color: #2F92CA;
 	
 }


form#new-post {

 	border-radius: 0.4rem 0.4rem 0 0;
 	border-bottom: 0.1em solid #CEE4F5;
 	background-color: #EBF4FB;
	padding: 1em;
}

form#new-post .input-addon {

	background-color: #fff;
}

ul#post {

	margin:0;
}

ul#post li {

	padding: 1em 1em;
}

ul#post .post-avator {

	width: 13%;
	display: inline-block;
	vertical-align: top;
}

ul#post .meme-post {

	width: 80%;
	display: inline-block;
	margin: 2%;
}

ul#post .meme-post h5 {

	font-weight: bold;
	margin-bottom: 0.5rem;
}

ul#post .meme-post h5 > small {

	font-size: 1.2rem;
}

#post-card .card-header {
	border-radius: 0.4rem 0.4rem 0 0;
	border-bottom: 1px solid #fff;
}

#post-card {

	border: 1px solid #fff;
	border-radius: 0 0 0.4rem 0.4rem;
	padding: 1em 1em;
	border-bottom: 0.1rem solid #e5e5e5;
	background-color: #fff;

}


#post-footer {

	border-top: 1px solid #fff;
	padding-bottom: 1em;
}

#post-footer .action-list  {

	width: 100%;
	display: inline-block;
	padding-top: 1.3rem;
	padding-left: 20%;
}

#post-footer .action-list  a{

	width: 30%;
	display: inline-block;
	font-size: 1.4em;
}

#followers-card .card-header {

	border-radius: 0.4rem 0.4rem 0 0;
	padding : 0.75rem 1.25rem;
	background-color: #f5f5f5;
	border-bottom: 0.1em solid #e5e5e5;
	color: #4e5665;
	font-weight: bold;
}

#follower-photo {

	margin-top: 2rem;
}

#follower-photo ul {

	margin: 0;
}

#follower-photo li {

	width: 48%;
	padding: 0;
}

.user-avator {

	width: 10%;
	display: inline-block;
	vertical-align: top;
}

#user-card {

	border-radius: 0.4rem 0.4rem 0 0;
 	padding: 1em;
 	border-bottom:  0.1em solid rgba(250, 86, 144, 0.2);
 	background-color: rgba(250, 86, 144, 0.1);

}

#user-card h4 {

	display: inline-block;
	padding-left: 1.2em;
	font-size: 1.5rem;
	margin-top: 1.2em;
}


#user-card h4 > small{

	font-size: 1.2rem;
}

#user-card h4 > small {

	text-decoration: underline;
}

#user-card, #main-card h5 > strong {

	font-size: 1rem;
}



#Edit-Profile {

	margin-top: 5em;
}


#Edit-Profile  .col-sm-4 .form-group{

	padding-top: 3.5em;
	padding-left:  30%;
}

#Edit-Profile ul {

	padding-bottom: 1.3em;
}

#Edit-Profile .thumbnail {

	height: 10em;
	width: 10em;
	border-radius: 1em;
}



ul#posts .action-list {
	margin-left: 13%;
	padding-left: 3em;
}


ul#posts .action-list a {
	width: 15%;
	display: inline-block;
	padding-right: 3em;
}
ul#posts .action-list a:hover {

	text-decoration: none;
	
}
ul#posts .action-list .retweet-count {
	padding-left: 0.2em;
	font-weight: bold;
}

ul#posts .post-img {

	padding-bottom: 1em;
}

#paginate {

	width: 100%;
}

#media-content {

	padding: 1.4em;
}

div#who-follow li {
	margin-bottom: 2em;
}
div#who-follow li:last-child {
	margin-bottom: 0;
}

div#who-follow li img {
	width: 26%;
	display: inline-block;
	vertical-align: top;
	margin-right: 2%;
}

div#who-follow li .info {
	width: 68%;
	display: inline-block;
}

div#who-follow li .info strong {
	display: block;
	overflow:hidden;
	text-overflow: ellipsis;
}
div#who-follow li .info .glyphicon {
	color: #2F92CA;
}

.row .card + .card {

	margin-top: :2rem;
}

#profile-setting .nav-stacked li {

	border-bottom: 1px solid #e5e5e5;
	margin: 0;
}


#profile-setting .nav-stacked a {

	border-radius: 0;
}

#profile-setting .nav-stacked li:last-child {

	border-bottom: 0;
}


#profile-setting .nav-stacked li:last-child a {

	border-radius: 0 0 0.4rem 0.4rem;
}


#user-dp {

	padding: 1.5em;
}

#user-dp img {

	width: 20%; 
	display: inline-block;
	padding-right: 1.2rem;
}


.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
    display: inline-block;
}

#user-profile h5.card-title {

	font-weight: bold;
	font-size: 1.2em;
}

#user-profile .card-block {

	padding: 1.5em 0 ;
}

#user-info {

	padding: 0 1.5em;
}

#user-info .personal-info {

	display: inline-block;
	width: 50%;

}


@media(max-width: 34em;) {
	
	#user-info .personal-info {width: 100%;}	
}

#user-info span {

	display: inline-block;
	padding: 0 5%;
}


#account-info {

	padding: 0 1.5em;
}

#account-info .card-block {

	padding: 1.5em 0 ;
}

#account-info .password-field {

	display: inline-block;
	width: 50%;
}

#account-info span {

	display: inline-block;
	padding: 0 5%;
}

#save-changes {

	padding: 0 1.5em;
}

#login-modal .modal-body {

	padding: 1.5em 1.8em;
}

#login-modal .modal-footer {

	padding-right: 1.8em;
	margin-bottom: 0;
}

#login-modal .modal-body .remember-me{

	padding-left: 2em;
}