body{

	padding-top: 4em;
	background-color: #F6F8FA;
}

.navbar-brand img{
	height: 100%;
}

nav form#search {

	float: right;
	padding: 0.5em;
}

nav form#search .glyphicon-search {

	z-index: 99;
	position: absolute;
	right: 0.7em;
	top: 50%;
	margin-top: -0.44em;
}

#user-btn{

	margin-top: 0.5em;
}

nav.navbar-default {

	background-color: #FA5690;
}

nav.navbar-default .navbar-nav >li > a {

	color: #FFF;
}

nav.navbar-default .navbar-nav > li > a,
nav.navbar-default .navbar-nav >li > a:hover {

	color: #FFF;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
nav.navbar-default .navbar-nav > .active > a {

	background-color: transparent;
	color: #FFF;
	padding-bottom: 0.62em;
	border-bottom: 0.453em solid #FFF;
}
nav.navbar-default .navbar-nav > .active a:hover,
nav.navbar-default .navbar-nav > li > a:hover {

	background-color: transparent;
	color: #F3F3F3;
	padding-bottom: 0.62em;
	border-bottom: 0.45em solid #F3F3F3;
}

nav.navbar-header .navbar-toggle,
nav.navbar-default .navbar-toggle:focus {

	background-color: #57A5D2;
}
nav.navbar-header .navbar-toggle,
nav.navbar-default .navbar-toggle:hover {

	background-color: #3986B3;
}

nav.navbar-default .navbar-toggle .icon-bar {

	background-color: #FFF;
}




#nav-options {

	margin: 0.5em;
}

#nav-options button.thumbnail {

	margin:0;
	padding: 0;
}

#nav-options img {

	max-height: 2.3em;
	border-radius: 0.3em;
}
#posts {

	margin: 0.5em;
}

.navbar-brand img {

	height: 100%;
}


.hidden-element {

	display: none;	
}

#profile  br{

	width: 20%;

}

.card img.card-img {

	top: 50%;
	margin-top: -36px;
	width: 72px;
	border: 3px solid #FFF;
	border-radius: 0.4rem;
	float: left;
	position: relative;
	z-index: 99;
}

.card-block .card-title {

	float: left;
	margin: 0;
	margin-left: 0.5em;
}

.card-block .card-text {

	clear: both;
	padding-top: 0.25em;
	margin-bottom: 1.5em;
}

#meme_info {

	border: 1px solid #000;
	border-radius: 0.4em;

}
#meme_info div.card-header {

	border: 1px solid #000;
	background-color: rgba(250, 86, 144, 0.4);

}

.card-header h4 {

	font-size: 1.5em;
}

 .card-block ul {
 	 
 	 padding-left: 0.5em; 
 }

 .card-block li > a {
 	color: #FFF;
 	font-size: 1.2em;
 }

  .card-block li > a:hover {

  	text-decoration: none;
 	color: #FFF;
 }

 .card-block ul a:hover {

 	text-decoration: none;
 }

.card-block .card-title small {

	display: inline;
}

 .card-block ul .profile-stats {

 	color: #777;
 	display: block;
 	text-transform: uppercase;
 	font-size: 0.65em;

 }

  .card-block ul .profile-value {

 	color: #000;
 	font-size: 1.2em;
 	font-weight: bold;
 	color: #2F92CA;
 	
 }