body{

	padding-top: 4em;
	background-color: #F6F8FA;
}

.navbar-brand img{
	height: 100%;
}

nav form#search {

	float: right;
	padding: 0.5em;
}

nav form#search .glyphicon-search {

	z-index: 99;
	position: absolute;
	right: 0.7em;
	top: 50%;
	margin-top: -0.44em;
}

#user-btn{

	margin-top: 0.5em;
}

nav.navbar-default {

	background-color: #FA5690;
}

nav.navbar-default .navbar-nav >li > a {

	color: #FFF;
}

nav.navbar-default .navbar-nav > li > a,
nav.navbar-default .navbar-nav >li > a:hover {

	color: #FFF;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
nav.navbar-default .navbar-nav > .active > a {

	background-color: transparent;
	color: #FFF;
	padding-bottom: 0.62em;
	border-bottom: 0.453em solid #FFF;
}
nav.navbar-default .navbar-nav > .active a:hover,
nav.navbar-default .navbar-nav > li > a:hover {

	background-color: transparent;
	color: #F3F3F3;
	padding-bottom: 0.62em;
	border-bottom: 0.45em solid #F3F3F3;
}

nav.navbar-header .navbar-toggle,
nav.navbar-default .navbar-toggle:focus {

	background-color: #57A5D2;
}
nav.navbar-header .navbar-toggle,
nav.navbar-default .navbar-toggle:hover {

	background-color: #3986B3;
}

nav.navbar-default .navbar-toggle .icon-bar {

	background-color: #FFF;
}




#nav-options {

	margin: 0.5em;
}

#nav-options button.thumbnail {

	margin:0;
	padding: 0;
}

#nav-options img {

	max-height: 2.3em;
	border-radius: 0.3em;
}
#posts {

	margin: 0.5em;
}

.navbar-brand img {

	height: 100%;
}


.hidden-element {

	display: none;	
}

#profile  br{

	width: 20%;

}

.card img.card-img {

	top: 50%;
	margin-top: -36px;
	width: 72px;
	border: 3px solid #FFF;
	border-radius: 0.4rem;
	float: left;
	position: relative;
	z-index: 99;
}

.card-block .card-title {

	float: left;
	margin: 0;
	margin-left: 0.5em;
}

.card-block .card-text {

	clear: both;
	padding-top: 0.25em;
	margin-bottom: 1.5em;
}

#meme_info {

	border: 1px solid #000;
	border-radius: 0.4em;

}
#meme_info div.card-header {

	border: 1px solid #000;
	background-color: rgba(250, 86, 144, 0.4);

}

.card-header h4 {

	font-size: 1.5em;
}

 .card-block ul {
 	 
 	 padding-left: 0.5em; 
 }

 .card-block li > a {
 	color: #FFF;
 	font-size: 1.2em;
 }

  .card-block li > a:hover {

  	text-decoration: none;
 	color: #FFF;
 }

 .card-block ul a:hover {

 	text-decoration: none;
 }

.card-block .card-title small {

	display: inline;
}

 .card-block ul .profile-stats {

 	color: #777;
 	display: block;
 	text-transform: uppercase;
 	font-size: 0.65em;

 }

  .card-block ul .profile-value {

 	color: #000;
 	font-size: 1.2em;
 	font-weight: bold;
 	color: #2F92CA;
 	
 }


form#new-post {

 	border-radius: 0.4rem 0.4rem 0 0;
 	border-bottom:  0.1em solid rgba(250, 86, 144, 0.2);
 	background-color: rgba(250, 86, 144, 0.1);
}



ul#posts {
	margin: 0;
}

ul#posts li {

	padding: 1em 1em;
}

ul#posts .post-avator {

	width: 13%;
	display: inline-block;
	vertical-align: top;

}

ul#posts .meme-post {

	width: 80%;
	display: inline-block;
	margin-left: 2%;
}

ul#post .meme-post h5 {

	font-weight: bold;
	margin-bottom: 0.5rem
}

ul#post .meme-post h5 > small {

	font-size: 1.2rem;
}

#followers-card .card-header {

	border-radius: 0.4rem 0.4rem 0 0;
	padding : 0.75rem 1.25rem;
	background-color: #f5f5f5;
	border-bottom: 0.1em solid #e5e5e5;
	color: #4e5665;
	font-weight: bold;
}

#follower-photo {

	margin-top: 2rem;
}

#follower-photo ul {

	margin: 0;
}

#follower-photo li {

	width: 48%;
	padding: 0;
}

.user-avator {

	width: 10%;
	display: inline-block;
	vertical-align: top;
}

#user-card {

	border-radius: 0.4rem 0.4rem 0 0;
 	padding: 1em;
 	border-bottom:  0.1em solid rgba(250, 86, 144, 0.2);
 	background-color: rgba(250, 86, 144, 0.1);

}

#user-card h4 {

	display: inline-block;
	padding-left: 1.2em;
	font-size: 1.5rem;
	margin-top: 1.2em;
}


@media(max-width: 34em){

	#user-card .card h4 {

		font-size: 0.8rem;
		padding-left: 1.6rem;
		margin-top: 0;

	}

	#user-card {

		padding: 0.4em;
	}

}

#user-card h4 > small{

	font-size: 1.2rem;
}

#user-card h4 > small {

	text-decoration: underline;
}

#posts li {
	padding-top: 1.2em; 
	border-bottom:  0.1em solid #f5f5f5;
	
}