<p>Dear {{ user.username }},</p>
<p>Welcome to <b>Meme House</b>!</p>
<p>A request to reset your accounts password was received <a href="{{ url_for('auth.confirm_reset', token=token, _external=True) }}">click here</a>.
and follow the instructions to complete account password reset</p>
<br>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm_reset', token=token, _external=True) }}</p>
<p>if you did not make this request please ignore the Email</p>
<br>
<p>Sincerely,</p>
<p>The House of Memes Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>