{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'icons/icon1.png') }}"
	type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename = 'icons/icon1.png') }}"
	type="image/x-icon">

	<!---->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/base.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css')}}">
{% endblock %}
{% block title %}Me.my{% endblock %}
{% block navbar %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('main.index')}}">
					<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#nav-menu" aria-expanded="false">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% if current_user.is_authenticated%}
				<button id="posts" class="btn btn-default pull-right visible-xs-block">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						Post
				</button>
				{% endif %}
			</div>
			<div class="collapse navbar-collapse" id="nav-menu">
				<ul class="nav navbar-nav">

					{% if current_user.is_authenticated%}
					
						<li class="">
							<a href="{{ url_for('main.user', username = current_user.username) }}">
								<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
								Profile
							</a>
						</li>

						<li class="visible-xs-inline">
							<a href="#">
								<span class="glyphicon glyphicon-cog"></span>
								Setting
							</a>
						</li>
						<li class="visible-xs-inline">
							<a href="{{ url_for('auth.logout') }}">
								<span class="glyphicon glyphicon-off"></span>
								Logout
							</a>
						</li>
					{% else %}
						<li class="visible-xs-inline">
							<a href="{{ url_for('auth.login') }}">
								<span class="glyphicon glyphicon-user"></span>
								SignIn
							</a>
						</li>
						<li class="visible-xs-inline">
							<a href="{{ url_for('auth.register') }}">
								<span class="glyphicon glyphicon-pencil"></span>
								SignUp
							</a>
						</li>
					{% endif %}
				</ul>

				
				{% if current_user.is_authenticated%}
					<button id="posts" class="btn btn-default pull-right hidden-xs">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						Post
					</button>

					<div id="nav-options" class="btn-group pull-right hidden-xs">
						<button type="button" class="btn btn-default dropdown-toggle thumbnail" data-toggle="dropdown" aria-expanded="false">
							<img src="{{ current_user.gravator()}}">
						</button>

						<ul class="dropdown-menu">
							<li><a href="#">Profile</a></li>
							<li><a href="#">Settings</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{{url_for('auth.logout')}}">logout</a></li>
						</ul>
					</div>

				{% else %}

				<ul id="user-btn" class="list-inline list-unstyled pull-right hidden-xs">
					<a href="{{ url_for('auth.login')}}" class="btn btn-default ">Sign In</a>

					<a href="{{ url_for('auth.register')}}" class="btn btn-primary">Sign Up</a>
				</ul>


				{% endif %}




				<form id="search" role="search" class="hidden-xs hidden-sm">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="search ...">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</div>
				</form>
			</div>
		</div>
	</nav>
{% endblock %}

{% block content %}
{% block page_content %}

{% endblock %}

{% block footer%}

{% endblock%}
<script type="text/javascript" src="{{ url_for('static', filename ='js/jquery-3.6.0.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename ='js/bootstrap.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename ='js/styles.js')}}"></script>
{% endblock %}
{% block scripts %}

	{{ super() }}
	{{ moment.include_moment() }}
	{{ pagedown.include_pagedown() }}

	<script>
		var btnCust = '<button type="button" class="btn btn-secondary" title="Add picture tags" ' + 
		    'onclick="alert(\'Call your custom code here.\')">' +
		    '<i class="glyphicon glyphicon-tag"></i>' +
		    '</button>'; 
		$("#avatar-1").fileinput({
		    overwriteInitial: true,
		    maxFileSize: 1500,
		    showClose: false,
		    showCaption: false,
		    browseLabel: '',
		    removeLabel: '',
		    browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
		    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
		    removeTitle: 'Cancel or reset changes',
		    elErrorContainer: '#kv-avatar-errors-1',
		    msgErrorClass: 'alert alert-block alert-danger',
		    defaultPreviewContent: '<img src="/samples/default-avatar-male.png" alt="Your Avatar">',
		    layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
		    allowedFileExtensions: ["jpg", "png", "gif"]
		});
		</script>
{% endblock %}