{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'icons/icon1.png') }}"
	type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename = 'icons/icon1.png') }}"
	type="image/x-icon">

	<!---->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/base.css')}}">
{% endblock %}
{% block title %}Me.my{% endblock %}
{% block navbar %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% if current_user.is_authenticated%}{{ url_for('main.home')}}{% else %}{{ url_for('main.index')}}{% endif %}">
					Me.my
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#nav-menu" aria-expanded="false">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% if current_user.is_authenticated%}
				<button id="posts" class="btn btn-default pull-right visible-xs-block" data-toggle="modal" data-target="#post-modal">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						Post
				</button>
				{% endif %}
			</div>
			<div class="collapse navbar-collapse" id="nav-menu">
				<ul class="nav navbar-nav">

					{% if current_user.is_authenticated%}
					
						<li class="">
							<a href="{{ url_for('main.user', username = current_user.username) }}">
								<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
								Profile
							</a>
						</li>

						<li class="visible-xs-inline">
							<a href="#">
								<span class="glyphicon glyphicon-cog"></span>
								Setting
							</a>
						</li>
						<li class="visible-xs-inline">
							<a href="{{ url_for('auth.logout') }}">
								<span class="glyphicon glyphicon-off"></span>
								Logout
							</a>
						</li>
					{% else %}
						<li class="visible-xs-inline">
							<a href="#" type="button" data-toggle="modal" data-target="#login-modal">
								<span class="glyphicon glyphicon-user"></span>
								SignIn
							</a>
						</li>
						<li class="visible-xs-inline">
							<a href="#" type="button" data-toggle="modal" data-target="#register-modal">
								<span class="glyphicon glyphicon-pencil"></span>
								SignUp
							</a>
						</li>
					{% endif %}
				</ul>
				{% if current_user.is_authenticated%}

					{% block post_button %}
						<button id="posts" class="btn btn-default pull-right hidden-xs" data-toggle="modal" data-target="#post-modal">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							Post
						</button>

					{% endblock %}

					<div id="nav-options" class="btn-group pull-right hidden-xs">
						<button type="button" class="btn btn-default dropdown-toggle thumbnail" data-toggle="dropdown" aria-expanded="false">
							<img src="{% if current_user.profile_pic_id %}{{current_user.get_profile_pic(current_user.profile_pic_id, current_user.firebase_uid, current_user.idToken)}}{% else %}{{ current_user.gravator()}}{% endif %}">
						</button>

						<ul class="dropdown-menu">
							<li><a href="#">Profile</a></li>
							<li><a href="#">Settings</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{{url_for('auth.logout')}}">logout</a></li>
						</ul>
					</div>

				{% else %}

				<ul id="user-btn" class="list-inline list-unstyled pull-right hidden-xs">

					<li>
						<button class="btn btn-default" data-toggle="modal" data-target="#login-modal">
							Sign in
						</button>
					</li>

					<li>
						<button class="btn btn-primary" data-toggle="modal" data-target="#register-modal">
							Sign Up
						</button>
					</li>
				</ul>


				{% endif %}

				<form id="search" role="search" class="hidden-xs hidden-sm ">
					<div class="input-group">

						<input type="text" class="form-control" placeholder="search ...">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</div>
				</form>
			</div>
		</div>
	</nav>
{% endblock %}

{% block content %}
{% block page_content %}
{% endblock %}

{% block modals %}
{% endblock%}

{% endblock %}

{% block scripts %}

	{{ super() }}
	{{ moment.include_moment() }}
	{{ pagedown.include_pagedown() }}

	<script src="{{url_for('static', filename='js/styles.js')}}"></script>
{% endblock %}