{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'icons/icon1.png') }}"
	type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename = 'icons/icon1.png') }}"
	type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/base.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css')}}">
{% endblock %}
{% block title %}H.O.M{% endblock %}
{% block navbar %}
	<header>
		<div class="container-fluid">
			<div class="row">
				<ul class="list-inline list-unstyled pull-left logo">
					<li><img class="img-rounded" src="{{ url_for('static', filename = 'icons/icon1.png') }}"></li>
					<li><a href="{{ url_for('main.index') }}" class="brand">Me.My</a></li>
					{% if current_user.is_authenticated%}
						<li><a href="{{ url_for('main.home')}}">Home</a></li>
						<li><a href="{{url_for('main.user', username = current_user.username )}}">Profile</a></li>
					{% endif %}
				</ul>
				<ul class="list-inline list-unstyled pull-right">
					
					{% if current_user.is_authenticated%}
						<li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
					{% else %}
						<li><a href="#About">About</a></li>
						<li><a href="{{ url_for('main.contacts') }}">Contacts</a></li>
					{% endif%}
				</ul>
			</div>
		</div>
	</header>

	{% endblock %}

{% block content %}
{% block page_content %}

{% endblock %}

{% block footer%}

	<footer id="page-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 hidden-xs">
					<ul class="list-inline list-unstyled">
						<li><img class="img-rounded" src="{{ url_for('static', filename = 'icons/icon1.png')}}">
						</li>

						<li><h3 class="text-capitalize">Me.my</h3></li>
					</ul>
					
				</div>
				<div class="col-sm-4">
					<h3>Social</h3>
					<ul class="list-unstyled">
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>

				<div class="col-sm-4">
					<h3>Contacts</h3>
					<address>
						<address>
					<strong>Me.my, Inc</strong>
						gichuru.developer@gmail.com <br>
						memehouseke@gmail.com <br>
					<abbr title="Phone">P:</abbr> +254714100166
				</address>
					</address>
				</div>
			</div>
		</div>
	</footer>

{% endblock%}
<script type="text/javascript" src="{{ url_for('static', filename ='js/jquery-3.6.0.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename ='js/bootstrap.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename ='js/styles.js')}}"></script>


{% endblock %}

{% block scripts %}

	{{ super() }}
	{{ moment.include_moment() }}

	

{% endblock %}