{% extends "edit_profile.html"%}

{% block card_content%}
<div id="profile-resume" class="card">
	<img src="{% if user.cover_photo_id %}{{user.get_profile_pic(user.cover_photo_id, user.firebase_uid, user.idToken)}}{% else %}{{ url_for('static', filename='icons/card.jpg')}}{% endif %}" class="card-img-top img-responsive">

	<div class="card-block">
		<img src="{% if user.profile_pic_id %}{{user.get_profile_pic(user.profile_pic_id, user.firebase_uid, user.idToken)}}{% else %}{{ user.gravator()}}{% endif %}" class="card-img">

		<h4 class="card-title">{{user.username}} <small>&#128081;{{user.name}}</small>
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
			<a href="http://maps.google.com/?q={{ current_user.location }}"><small>{{ user.location }}</small></a>
		</h4>
	
		<p class="card-text">{{user.about_me}}</p>

		<ul class="list-inline list-unstyled">
			<li id="card-meme">
				<a href="#">
					<span class="profile-stats">Posts</span>
					<span class="profile-value">{{ user.posts.count()}}</span>
				</a>
			</li>

			<li id="card-following">
				<a href="#">
					<span class="profile-stats">Following</span>
					<span class="profile-value">{{ user.followed.count() -1}}</span>
				</a>
			</li>

			<li id="card-followers">
				<a href="#">
					<span class="profile-stats">Followers</span>
					<span class="profile-value">{{ user.followers.count() -1}}</span>
				</a>
			</li>
		</ul>
		<ul class="list-unstyled">
			<li>
				<ul class="list-unstyled list-inline">
					<li>
						<span class="label label-success ">Member since: {{moment(user.member_since).format('L')}}</span>
					</li>
					<li>

						<span class="label label-default"> Last Seen: {{ moment(user.last_seen).fromNow()}}</span>
					</li>
				</ul>
			</li>		
		</ul>
	</div>

	<div id="profile-setting" class="card">
		<ul class="nav nav-pills nav-stacked">
			<li role ="presentation">
				<a href="{{url_for('main.edit_profile')}}">
					<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
					Account
				</a>
			</li>
			<li role ="presentation">
				<a href="#">
					<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
					Community
				</a>
			</li>
			<li role ="presentation">
				<a href="#">
					<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
					Notifications
				</a>
			</li>
		</ul>
	</div>
</div>

{% endblock%}

{% block main_page_content %}

	<form id="user-profile" method="POST" enctype="multipart/form-data" class="form-horizontal" action="{{ url_for('main.edit_profile_admin', id = user.id)}}">
		{{ form.csrf_token }}
		<div id="user-dp" class="card">
			<div class="card-header">
				<h5 class="card-title">
					Display Picture
				</h5>
			</div>

			
			<div class="card-block ">
				{% block user_display%}
					<img src="{% if user.profile_pic_id %}{{user.get_profile_pic(user.profile_pic_id, user.firebase_uid, user.idToken)}}{% else %}{{ user.gravator()}}{% endif %}" class="img-circle">
				{% endblock %}

				{{ form.profile_pic.label(class="btn btn-outline-primary upload-btn", for="upload-pic")}}
				{{ form.profile_pic(id="upload-pic", class="hidden")}}

				{{ form.cover_pic.label(class="btn btn-outline-success", for="cover-pic")}}
				{{ form.cover_pic(id ="cover-pic", class="hidden")}}
			</div>

		</div>

		<hr>

		{% block user_information %}

		<div id="user-info" class="card">
			<div class="card-header">
				<h5 class="card-title">
					Basic Information
				</h5>
			</div>

			<div class="card-block">
				<div class="form-group personal-info">
					{{form.name.label()}}
					{{form.name( 

						class = "form-control",

						placeholder = user.name

					)}}
				</div>
				<span aria-hidden="true"></span>
				
				<div class="form-group personal-info">
					{{form.location.label()}}
					{{form.location( class = "form-control",

						placeholder = user.location,
					)}}
				</div>

				<div class="form-group">
					{{form.about_me.label()}}
					{{form.about_me( class = "form-control",

						placeholder =user.about_me
					)}}
				</div>

			</div>
		</div>

		<hr>

		<div id="account-info" class="card">
			<div class="card-header">
				<h5 class="card-title">
					Account Information
				</h5>
			</div>

			<div class="card-block">
				<div class="form-group ">
					{{form.email.label()}}
					{{form.email( class = "form-control", placeholder = user.email)}}
				</div>
				
				<div class="form-group password-field">
					{{form.password.label()}}
					{{form.password( class = "form-control")}}
				</div>
				<span aria-hidden="true"></span>
				<div class="form-group password-field">
					{{form.password2.label()}}
					{{form.password2( class = "form-control")}}
				</div>

				<div class="form-group password-field">
					{{form.username.label()}}
					{{form.username( class = "form-control")}}
				</div>
				<span aria-hidden="true"></span>
				<div class="form-group password-field">
					{{form.role.label()}}
					{{form.role( class = "form-control")}}
				</div>

			</div>
		</div>

		{% endblock %}

		<div id="save-changes" class="card">
			<div class="card-block">
				<div class="form-group">
					{{form.submit(class="btn btn-success")}}
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block who_follow %}

	<ul class="list-group">
		<li class="list-group-item list-group-item-info">
			User stats
		</li>
		<li class="list-group-item">
			Number of posts
			<span class="label label-success">{{user.posts.count()}}</span>
		</li>
		<li class="list-group-item">
			Post rooms joined
			<span class="label label-danger">3</span>
		</li>
		<li class="list-group-item">
			Post rooms Created
			<span class="label label-default">4</span>
		</li>
	</ul>

{% endblock %}

