{% extends 'user_interface.html' %}
{% block title %}Me.My- Home{% endblock%}

{% block card_content %}
<div id="profile-resume" class="card">
	<img src="{{ url_for('static', filename='icons/card.jpg')}}" class="card-img-top img-responsive">

	<div class="card-block">
		<img src="{{ current_user.gravator() }} " class="card-img">
		<h4 class="card-title">{{ current_user.username}} &#128081;<small>{{current_user.name}}</small></h4>
		<h4 class="card-title">
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
			<a href="http://maps.google.com/?q={{ current_user.location }}"><small>{{ current_user.location }}</small></a>
		</h4>
		<p class="card-text">{{ current_user.about_me}}</p>

		<ul class="list-inline list-unstyled">
			<li id="card-meme">
				<a href="#">
					<span class="profile-stats">Posts</span>
					<span class="profile-value">{{ current_user.posts.count()}}</span>
				</a>
			</li>

			<li id="card-following">
				<a href="#">
					<span class="profile-stats">Following</span>
					<span class="profile-value">{{ current_user.followed.count()}}</span>
				</a>
			</li>

			<li id="card-followers">
				<a href="#">
					<span class="profile-stats">Followers</span>
					<span class="profile-value">{{ current_user.followers.count()}}</span>
				</a>
			</li>
		</ul>
		<ul class="list-unstyled">
			<li>
				<ul class="list-unstyled list-inline">
					<li>
						<span class="label label-success ">Member since: {{moment(current_user.member_since).format('L')}}</span>
					</li>
					<li>

						<span class="label label-default"> Last Seen: {{ moment(current_user.last_seen).fromNow()}}</span>
					</li>
				</ul>
			</li>

			<li>
				<ul class="list-inline list-unstyled">
					{% if current_user.is_authenticated %}
						<li>
							<a href="{{ url_for('main.edit_profile')}}">
								<span class="label label-primary">Edit Profile</span>
							</a>
						</li>
					{% elif current_user.is_administrator() %}
						<li>
							<a href="{{ url_for('main.edit_profile_admin', id=user.id) }}">
								<span class="label label-danger"> Edit-Profile [Adim]</span>
							</a>
						</li>
					{% endif %}
				</ul>
			</li>		
		</ul>
	</div>
</div>
{% endblock %}
{% block main_page_content %}
<div id="main-card" class="card">
{% if current_user.can(permission.WRITE_ARTICLES) %}
	<form id="new-post" action method="POST">
		{{ form.csrf_token }}

		<div class="input-group">
			{{ form.body(class="form-control", placeholder="How about a meme for the day")}}

			<span class="input-group-btn">
				{{ form.submit(class="btn btn-success")}}
			</span>
		</div>

	</form>

{% endif %}
{% include '_posts.html'%}
</div>
<div class="pagination">
	{% if current_user.is_authenticated %}
		{{ macros.pagination_widget(pagination, '.home')}}
	{% else %}
		{{ macros.pagination_widget(pagination, '.index')}}
	{% endif%}
</div>
{% endblock %}

{% block page_right_content %}
{% endblock %}