{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Me.My{% endblock%}
{% block page_content %}
<section id="intro-header">
	<div class="container">
		<div class="row">
			<div class="wrap-headline">
				<h1 class="text-center">Me.my</h1>
				<h2 class="text-center">Knock! Knock!</h2>
				<hr>
				<ul class="list-inline list-unstyled text-center">
					<li> <a class="btn btn-default btn-lg" href="#" role="button">Sign In</a>
					</li>
					<li><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock %}