{% extends "user_interface.html"%}
{% block title %} Me.me {% endblock%}

{% block card_content %}
<div id="profile-resume" class="card">
	<img src="{{ url_for('static', filename='icons/card.jpg')}}" class="card-img-top img-responsive">

	<div class="card-block">
		<img src="{{ url_for('static', filename='icons/icon1.png')}} " class="card-img">
		<h4 class="card-title">Me.my</h4>
		<p class="card-text">How about a meme for a day</p>
	</div>
</div>

<div id="app-info" class="card">
	<div class="card-block">
		@2020 Me.my Platform
		<ul class="list-inline list-unstyled">
			<li><a href="#">About</a></li>
			<li><a href="#">Terms and Privacy</a></li>
			<li><a href="#">Help</a></li>
			<li><a href="#">Status</a></li>
			<li><a href="#">Contact</a></li>		
		</ul>
	</div>
	<div class="card-footer">
		<a href="#">Connect with the team behind Me.my Platform</a>
	</div>
</div>

{% endblock %}

{% block main_page_content %}
	{% include "_posts.html" %}
	{{ macros.pagination_widget(pagination, '.index')}}
{% endblock %}


{% block page_right_content %}
	<div id="who-follow" class="card">
		<div class="card-header">
			<h4 class="card-title">
				Who to follow
			</h4>
		</div>

		<div class="card-block">
			
		</div>
	</div>
{% endblock %}