
{% extends 'user_interface.html' %}
{% block title %}Me.My: Post{% endblock%}

{% block card_content %}
<div id="profile-resume" class="card">
	<img src="{{ url_for('static', filename='icons/card.jpg')}}" class="card-img-top img-responsive">
	<div class="card-block">
		<img src="{{ posts[0].author.gravator() }} " class="card-img">
		<h4 class="card-title">{{ posts[0].author.username}} &#128081;<small>{{posts[0].author.name}}</small></h4>
		<h4 class="card-title">
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
			<a href="http://maps.google.com/?q={{ posts[0].author.location }}"><small>{{ posts[0].author.location }}</small></a>
		</h4>
		<p class="card-text">
			{% if  posts[0].author.is_administrator() %}
				<small><a href="mailto:{{ posts[0].author.email }}">{{ posts[0].author.email }}</a></small>
			{% endif %}
		</p>
		<ul class="list-unstyled">
			<ul class="list-unstyled list-inline">
				<li>
					<p>Member since: {{moment(posts[0].author.member_since).format('L')}}</p>
				</li>
				<li>
					<p>Last Seen {{ moment(posts[0].author.last_seen).fromNow()}}</p>
				</li>
			</ul>
			<ul class="list-inline list-unstyled">
				{% if posts[0].author.is_administrator() %}
					<li>
						<a class="btn btn-danger"
							href="{{ url_for('main.edit_profile_admin', id=posts[0].author.id) }}">
							Edit Profile [Admin]
						</a>
					</li>
				{% endif %}
			</ul>
			<p>{{ posts[0].author.about_me }}</p>
		</ul>
	</div>
</div>

<br>

<div id="followers-card" class="card">
	<div class="card-header">
		<strong>Followers</strong>
	</div>
	<div id="follower-photo" class="card-block">
		<ul class="list-inline list-unstyled">
			<li>
				<a href="#" class="thumbnail">
					<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
				</a>
			</li>
			<li>
				<a href="#" class="thumbnail">
					<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
				</a>
			</li>
			<li>
				<a href="#" class="thumbnail">
					<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
				</a>
			</li>
			<li>
				<a href="#" class="thumbnail">
					<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
				</a>
			</li>
		</ul>
	</div>
</div>

{% endblock %}

{% block main_page_content %}
<div id="post-card" class="card">
	<div class="card-block">
		{% include '_posts.html' %}
	</div>
</div>
{% endblock %}

{% block page_right_content %}
{% endblock %}