
{% extends 'user_interface.html' %}
{% block title %}Me.My: Post{% endblock%}

{% block card_content %}
<div id="profile-resume" class="card">
	<img src="{% if posts[0].author.cover_photo_id %}{{ posts[0].author.get_profile_pic( posts[0].author.cover_photo_id,  posts[0].author.firebase_uid,  posts[0].author.idToken)}}{% else %}{{ url_for('static', filename='icons/card.jpg')}}{% endif %}" class="card-img-top img-responsive">
	<div class="card-block">

		<img src="{% if posts[0].author.profile_pic_id %}{{posts[0].author.get_profile_pic(posts[0].author.profile_pic_id, posts[0].author.firebase_uid, posts[0].author.idToken)}}{% else %}{{ posts[0].author.gravator()}}{% endif %}" class="card-img">

		<h4 class="card-title">{{ posts[0].author.username}} <small>&#128081;{{posts[0].author.name}}</small></h4>
		<h4 class="card-title">
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
			<a href="http://maps.google.com/?q={{ posts[0].author.location }}"><small>{{ posts[0].author.location }}</small></a>
		</h4>
		<p class="card-text">
			{% if  posts[0].author.is_administrator() %}
				<small><a href="mailto:{{ posts[0].author.email }}">{{ posts[0].author.email }}</a></small>
			{% endif %}
		</p>
		<ul class="list-inline list-unstyled">
			<li id="card-meme">
				<a href="#">
					<span class="profile-stats">Posts</span>
					<span class="profile-value">{{ posts[0].author.posts.count()}}</span>
				</a>
			</li>

			<li id="card-following">
				<a href="#">
					<span class="profile-stats">Following</span>
					<span class="profile-value">{{ posts[0].author.followed.count()-1}}</span>
				</a>
			</li>

			<li id="card-followers">
				<a href="#">
					<span class="profile-stats">Followers</span>
					<span class="profile-value">{{ posts[0].author.followers.count()-1}}</span>
				</a>
			</li>
		</ul>
		<ul class="list-unstyled">

			<ul class="list-unstyled list-inline">
				<li>
					<p>Member since: {{moment(posts[0].author.member_since).format('L')}}</p>
				</li>
				<li>
					<p>Last Seen {{ moment(posts[0].author.last_seen).fromNow()}}</p>
				</li>
			</ul>
			<ul class="list-inline list-unstyled">
				{% if posts[0].author.is_administrator() %}
					<li>
						<a class="btn btn-danger"
							href="{{ url_for('main.edit_profile_admin', id=posts[0].author.id) }}">
							Edit Profile [Admin]
						</a>
					</li>
				{% endif %}
			</ul>
			<p>{{ posts[0].author.about_me }}</p>
		</ul>
	</div>
</div>

<br>

<div id="followers-card" class="card">
	<div class="card-header">
		<strong>Followers</strong>
	</div>
	<div id="follower-photo" class="card-block">
		{% if posts[0].author.user_followers.count()%}
		<ul class="list-unstyled">
			{% for follower in posts[0].author.user_followers.all()[:4] %}
			<ul class="list-inline list-unstyled">
				{% if follower != posts[0].author %}
					<li>
						<a href="{{ url_for('main.user', username = follower.username)}}" class="thumbnail">

							<img src="{% if follower.profile_pic_id %}{{follower.get_profile_pic(follower.profile_pic_id, follower.firebase_uid, follower.idToken)}}{% else %}{{ follower.gravator()}}{% endif %}" class="img-responsive">

						</a>
					</li>
				{% endif %}
			</ul>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>

{% endblock %}

{% block main_page_content %}
<div id="post-card" class="card">
	<div class="card-block">
		{% for post in posts %}
		    <div id="post-card" class="card">
		        <div class="post-card-header card-header">
                    {% if current_user.is_authenticated and post.author == current_user %}
                    <div class="btn-group pull-right">
                        <button class="btn btn-default option dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <strong>:</strong>
                        </button>

                        <ul class="dropdown-menu">
                            <li><a href="#">Edit</a></li>
                            <li><a href="{{ url_for('main.delete_post', id = post.id)}}">Delete</a></li>
                        </ul>
                        
                    </div>
                    {% endif %}

                    <a href="{{ url_for('main.user', username=post.author.username) }}" id="display-pic">

                    	  <img src="{% if post.author.profile_pic_id %}{{post.author.get_profile_pic(post.author.profile_pic_id, post.author.firebase_uid, post.author.idToken)}}{% else %}{{ post.author.gravator()}}{% endif %}" class="post-avator img-circle">
                    </a>

                    <h5 class="post-author">{{post.author.username}}<small>{% if post.author.name%}&#128081;{{post.author.name}}{% endif%} -{{moment(post.timestamp).fromNow()}}</small></h5>

                    {% if post.body_html %}
                        <p class="card-text">{{post.body_html | safe}}</p>
                            
                    {% else %}
                        <p class="card-text">
                            {{post.body}}
                        </p>
                        
                    {% endif %}
                </div>
		        <div id="media-content" class="card-block">
		            <!--Put the media post from the user here-->
		           {% if post.cloud_file_name %}

                        {% if post.cloud_file_name.endswith('png') or post.cloud_file_name.endswith('jpeg') or post.cloud_file_name.endswith('jpg')%}
                            <img src="{{post.get_post_file(post.cloud_file_name, 
                            post.author.firebase_uid, post.author.idToken)}}" class="img-responsive">
                        {% else%}
                            <iframe width="100%" height="281" src="{{post.get_post_file(post.cloud_file_name, 
                            post.author.firebase_uid, post.author.idToken)}}" frameborder="0" allowfullscreen=""></iframe>
                        {% endif %}
                    {% endif %}
		        </div>

		        <div class="card-footer">
		        	<div class="card-title">
		        		<h4>Comments</h4>
		        	</div>

		        	<div class="write-comment">
        				<form class="form-horizontal" action="{{ url_for('main.comment', id = post.id)}}" method="POST">
        					<div class="form-group">
        						{{ comment_form.body(class="form-control", placeholder="Write your comment")}}
        					</div>
        					<div class="form-group">
        						{{comment_form.submit(class="btn btn-success")}}
        					</div>
        				</form>

        				<div class="latest-comments">
        					{% if post.comments.all()%}
        						<ul class="list-unstyled">
        							{% for comment in post.comments.all() %}

        								{% if comment.disabled and not current_user.can(Permission.MODERATE_COMMENTS) %}
        								<p><i>This Comment have been diabled by the Memy Content Moderation team</i></p>
        								{% else %}
	        								<li>       							
	        									<div class="media">
	        										<a href="{{url_for('main.user', username = comment.author.username)}}">
	        											  <img src="{% if comment.author.profile_pic_id %}{{comment.author.get_profile_pic(comment.author.profile_pic_id, comment.author.firebase_uid, comment.author.idToken)}}{% else %}{{ comment.author.gravator()}}{% endif %}" class="mr-3 img-circle" >

		        									</a>
													  
												  <div class="media-body">
												    <h5 class="mt-0 mb-1">{{comment.author.username}}<small>{% if comment.author.name%}&#128081;{{comment.author.name}}{% endif%} -{{moment(comment.timestamp).fromNow()}}</small>

												    	{%if current_user.can(Permission.MODERATE_COMMENTS)%}
													    	{% if comment.disabled %}
													    		<a href="{{url_for('main.comment_enabled', id = comment.id)}}" class="btn btn-default btn-xs">Enable</a>
													    	{%else%}
													    		<a href="{{ url_for('main.comment_disabled', id = comment.id)}}" class="btn btn-danger btn-xs">Disable</a>
													    	{% endif %}
												    	{% endif %}
												    </h5>

												    {% if comment.body_html %}
												    	{{ comment.body_html | safe}}
												    {% else %}
												    	{{ comment.body }}
												    {% endif%}
												  </div>
												</div>
	        								</li>
        								{% endif%}
        							{% endfor %}
        						</ul>
        					{% endif %}
        				</div>
        			</div>
        		</div>
		    </div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block page_right_content %}
{% endblock %}