{% extends 'user_interface.html' %}
{% block title %}Me.My: {{ current_user.username }}{% endblock%}

{% block card_content %}
<div id="profile-resume" class="card">
	<img src="{{ url_for('static', filename='icons/card.jpg')}}" class="card-img-top img-responsive">
	<div class="card-block">
		<img src="{{ user.gravator() }} " class="card-img">
		<h4 class="card-title">{{ current_user.username}} &#128081;<small>{{current_user.name}}</small></h4>
		<h4 class="card-title">
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
			<a href="http://maps.google.com/?q={{ current_user.location }}"><small>{{ current_user.location }}</small></a>
		</h4>
		<p class="card-text">
			{% if  current_user.is_administrator() %}
				<small><a href="mailto:{{ user.email }}">{{ user.email }}</a></small>
			{% endif %}
		</p>
		<ul class="list-unstyled">
			<li>
				<ul class="list-unstyled list-inline">
					<li>
						<p>Member since: {{moment(user.member_since).format('L')}}</p>
					</li>
					<li>
						<p>Last Seen {{ moment(user.last_seen).fromNow()}}</p>
					</li>
				</ul>
			</li>

			<li>
				<ul class="list-unstyled list-inline">
					<li>
						<p>Member since: {{moment(user.member_since).format('L')}}</p>
					</li>
					<li>
						<p>Last Seen {{ moment(user.last_seen).fromNow()}}</p>
					</li>
				</ul>
			</li>

			<li>
				<ul class="list-inline list-unstyled">
					{% if current_user.is_authenticated %}
						<li>
							<a href="{{ url_for(main.edit_profile)}}">
								<span class="label label-primary">Edit Profile</span>
							</a>
						</li>
					{% elif current_user.is_administrator() %}
						<li>
							<a href="{{ url_for('main.edit_profile_admin', id=user.id) }}">
								<span class="label label-danger"> Edit-Profile [Adim]</span>
							</a>
						</li>
					{% endif %}
				</ul>
			</li>
			
			<li>
				<p> {% if user.about_me %}{{ user.about_me }}{% endif %}</p>
			</li>
			
		</ul>
	</div>
</div>

<br>

<div id="followers-card" class="card">
	<div class="card-header">
		<strong>Followers</strong>
	</div>
	<div id="follower-photo" class="card-block">
		<ul class="list-inline list-unstyled">
			<li>
				<a href="#" class="thumbnail">
					<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
				</a>
			</li>
			<li>
				<a href="#" class="thumbnail">
					<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
				</a>
			</li>
			<li>
				<a href="#" class="thumbnail">
					<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
				</a>
			</li>
			<li>
				<a href="#" class="thumbnail">
					<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
				</a>
			</li>
		</ul>
	</div>
</div>

{% endblock %}

{% block main_page_content %}
<div id="post-card" class="card">
	<div id="user-card" class="card-header">
		<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="user-avator img-circle">
		<h4 class="card-title">
			Recent posts {{ user.username }} &#128081; <small>{{ user.name }}</small> 
		</h4>
	</div>

	<div class="card-block">
		{% include '_posts.html' %}
	</div>
</div>
	
<div class="pagination">
	{{ macros.pagination_widget(pagination, '.index')}}
</div>
{% endblock %}

{% block page_right_content %}
{% endblock %}