{% extends 'base.html' %}
{% import "_macro.html" as macros %}
{% block title %}Me.My: {{ current_user.username }}{% endblock%}
{% block page_content %}
<div class="container">
	<div class="row">
		<div id="profile" class="col-md-3 hidden-xs hidden-sm">
			<div id="profile-resume" class="card">
				<img src="{{ url_for('static', filename='icons/card.jpg')}}" class="card-img-top img-responsive">

				<div class="card-block">
					<img src="{{ user.gravator() }} " class="card-img">
					<h4 class="card-title">{{ current_user.username}} &#128081;<small>{{current_user.name}}</small></h4>
					<h4 class="card-title">
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						<a href="http://maps.google.com/?q={{ current_user.location }}"><small>{{ current_user.location }}</small></a>
					</h4>

					<p class="card-text">
						{% if  current_user.is_administrator() %}
							<small><a href="mailto:{{ user.email }}">{{ user.email }}</a></small>
						{% endif %}
					</p>
					<ul class="list-unstyled">
						<ul class="list-unstyled list-inline">
							<li>
								<p>Member since: {{moment(user.member_since).format('L')}}</p>
							</li>
							<li>
								<p>Last Seen {{ moment(user.last_seen).fromNow()}}</p>
							</li>
						</ul>
						
						
						<ul class="list-inline list-unstyled">
							{% if current_user.is_administrator() %}
								<li>
									<a class="btn btn-danger"
										href="{{ url_for('main.edit_profile_admin', id=user.id) }}">
										Edit Profile [Admin]
									</a>
								</li>
							{% endif %}
						</ul>
						<p>{{ user.about_me }}</p>

					</ul>
				</div>
			</div>

			<br>

			<div id="followers-card" class="card">
				<div class="card-header">
					<strong>Followers</strong>
				</div>
				<div id="follower-photo" class="card-block">
					<ul class="list-inline list-unstyled">
						<li>
							<a href="#" class="thumbnail">
								<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
							</a>
						</li>
						<li>
							<a href="#" class="thumbnail">
								<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
							</a>
						</li>
						<li>
							<a href="#" class="thumbnail">
								<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
							</a>
						</li>
						<li>
							<a href="#" class="thumbnail">
								<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="img-responsive">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="main" class="col-sm-12 col-md-6">
			<div id="post-card" class="card">
				<div id="user-card" class="card-header">
					<img src="{{ url_for('static', filename='icons/icon1.png')}}" class="user-avator img-circle">
					<h4 class="card-title">
						Recent posts {{ user.username }} &#128081; <small>{{ user.name }}</small> 
					</h4>
				</div>

				<div class="card-block">
					<ul id="posts" class="list-unstyled">
						{% for post in posts %}
						<li>
							<div class="meme-post">
								<h5>{{ post.author.username }}{% if post.author.name %}&#128081; <small>{{ post.author.name}}</small>{% endif %} -: <strong>{{ moment(post.timestamp).fromNow()}} </strong></h5>

								<p> {{ post.body_html }}</p>

							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="pagination">
				{{ macros.pagination_widget(pagination, '.index')}}
			</div>
		</div>
		<div id="right-content" class="col-md-3 hidden-xs hidden-sm"></div>
	</div>
</div>
{% endblock %}