{% extends 'user_interface.html' %}
{% block title %}Me.My: {{ current_user.username }}{% endblock%}

{% block card_content %}
<div id="profile-resume" class="card">
	<img src="{{ url_for('static', filename='icons/card.jpg')}}" class="card-img-top img-responsive">
	<div class="card-block">
		<img src="{% if current_user.profile_pic_id %}{{current_user.get_profile_pic(current_user.profile_pic_id, current_user.firebase_uid, current_user.idToken)}}{% else %}{{ current_user.gravator()}}{% endif %}" class="card-img">
		
		<h4 class="card-title">{{ user.username}} &#128081;<small>{{user.name}}</small></h4>
		<h4 class="card-title">
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
			<a href="http://maps.google.com/?q={{ current_user.location }}"><small>{{ user.location }}</small></a>
		</h4>

		<p class="card-text">{{ current_user.about_me}}</p>
		{% if current_user.can(Permission.FOLLOW) and user != current_user %}
			{% if not current_user.is_following(user)%}
				<a href="{{ url_for('main.follow', username = user.username)}}" class="btn btn-primary">Follow</a>
			{% else %}
				<a href="{{ url_for('main.unfollow', username = user.username)}}" class="btn btn-default">UnFollow</a>
			{% endif%}
		{% endif %}
		{% if current_user.is_authenticated and user!=current_user and user.is_following(current_user)%}
			| <span class="label label-default">Follows you</span>
		{% endif%}
		<ul class="list-inline list-unstyled">
			<li id="card-meme">
				<a href="{{ url_for('main.user', username = user.username)}}">
					<span class="profile-stats">Posts</span>
					<span class="profile-value">{{ user.posts.count()}}</span>
				</a>
			</li>

			<li id="card-following">
				<a href="{{ url_for('main.following', username = user.username)}}">
					<span class="profile-stats">Following</span>
					<span class="profile-value">{{ user.followed.count() -1 }}</span>
				</a>
			</li>

			<li id="card-followers">
				<a href="{{ url_for('main.followers', username = user.username)}}">
					<span class="profile-stats">Followers</span>
					<span class="profile-value">{{ user.followers.count() -1}}</span>
				</a>
			</li>
		</ul>
		
		{% if  current_user.is_administrator() %}
		<p class="card-text">
			<small><a href="mailto:{{ user.email }}">{{ user.email }}</a></small>
		</p>
		{% endif %}
		<ul class="list-unstyled">
			<li>
				<ul class="list-unstyled list-inline">
					<li>
						<span class="label label-success ">Member since: {{moment(user.member_since).format('L')}}</span>
					</li>
					<li>
						<span class="label label-default"> Last Seen: {{ moment(user.last_seen).fromNow()}}</span>
					</li>
				</ul>
			</li>

			<li>
				<ul class="list-inline list-unstyled">
					{% if current_user == user %}
						<li>
							<a href="{{ url_for('main.edit_profile')}}">
								<span class="label label-primary">Edit Profile</span>
							</a>
						</li>
					{% endif %}
					{% if current_user.is_administrator() %}
						<li>
							<a href="{{ url_for('main.edit_profile_admin', id=user.id) }}">
								<span class="label label-danger"> Edit-Profile [Adim]</span>
							</a>
						</li>
					{% endif %}
				</ul>
			</li>
		</ul>
	</div>
</div>

<br>

<div id="followers-card" class="card">
	<div class="card-header">
		<strong>Followers</strong>
	</div>
	<div id="follower-photo" class="card-block">
		{% if user.user_followers.count()%}
			<ul class="list-inline list-unstyled">
				{% for follower in user.user_followers.all()[:4] %}
					{% if follower != current_user %}
						<li>
							<a href="{{ url_for('main.user', username = follower.username)}}" class="thumbnail">
								<img src="{{ follower.gravator() }}" class="img-responsive">
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			
		{% endif %}
	</div>
</div>

{% endblock %}

{% block main_page_content %}
<div id="post-card" class="card">
	<div class="card-block">
		{% include '_posts.html' %}
	</div>
</div>
	

{{ macros.pagination_widget(pagination, '.index')}}

{% endblock %}

{% block page_right_content %}
	<div id="who-follow" class="card">
		<div class="card-header">
			<h4 class="card-title">Who to Follow</h4>
		</div>
		<div class="card-block">
			{% if user.user_following.all() %}
			<ul class="list-unstyled">
				{% for followed in user.user_following.all()[:4] %}
					{% if followed != current_user %}
						<li>
							<img src="{% if followed.profile_pic_id %}{{followed.get_profile_pic(followed.profile_pic_id, followed.firebase_uid, followed.idToken)}}{% else %}{{ followed.gravator()}}{% endif %}" class="img-responsive">
							<div class="info">
								<strong>{{ followed.username }}</strong>
								{% if user == current_user and current_user.is_following(followed)%}
									<a href="{{ url_for('main.unfollow', username = followed.username)}}" class="btn btn-default">
										<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
										UnFollow
									</a>
								{% else %}
									<a href="{{ url_for('main.follow', username = followed.username)}}" class="btn btn-default">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
										Follow
									</a>
								{% endif%}
							</div>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}